/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}

/* NAVIGATION */
 
.navigation-bar  {
 position: fixed;
 top: 10px;
 right: 10px;
 background-color: white;
 z-index: 1;
}

.navigation-bar a {
    display: inline-block;
    font-size: 20px;
    color: black;
    border-radius: 50%;
    text-decoration: none;
}

/* SECTIONS */

.title {
  font-size: 40px;
  color: yellow;
}


#alternative-text-colour {
    color: green;
}

.shoe.full-section {
    position: relative;
    height: 100vh;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.blue.shoe {
    background-color: red;
}

.white.shoe {
    background-color: green;
}

.green.shoe {
    background-color: yellow;
}