/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SECTIONS */

.shoe.full-section {
    position: relative;
    height: 100vh;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}